@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Public+Sans&display=swap");
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
/* 1 */

/* 2 */

/* 3 */
.third-container {
  width: 100%;
  height: 472px;
  background: #1b262f;
  display: flex;
}
.left-side h1,
p,
button {
  color: #fbfcfe;
}
.left-side {
  margin: 100px 600px 316px 165px;
}
.left-side h1 {
  font-family: DM Serif Display;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  margin: 0px;
}
.left-side .text {
  opacity: 0.7;
  font-family: Public Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-top: 24px;
}
.left-side button {
  padding: 15px 30px 15px 30px;
  border-radius: 24px;
  border: 1px solid #fff;
  background-color: transparent;
  margin-top: 20px;

  text-align: center;
  font-family: Public Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.115px;
}

.right-side img {
  width: 129px;
  height: 30px;
  margin-right: 45px;
}
.right-side {
  display: flex;
  flex-direction: column;
}

.first-row {
  display: flex;
  margin: 187px 163px 0px 0px;
}
.second-row {
  display: flex;
  margin: 54px 163px 0px 0px;
}
/* 4 */

/* 5 */

/* 6 */

/* 7 */

/* 8 */
footer {
  background: #1b262f;
}

.logo {
  display: inline-block;
}

.footer {
  display: flex;
  align-items: center;
  padding: 31px 844px 31px 164px;
  width: 1440px;
  height: 100px;
}
.footer-links {
  display: flex;
  list-style: none;
}
.footer-items a {
  display: inline-block;
  text-decoration: none;
  color: #fbfcfe;
  font-size: 15px;
  font-family: Public Sans;
  font-weight: 700;
  opacity: 0.7;
  margin-left: 40px;
}
.footer .icons {
  display: flex;
  margin-left: 1050px;
}
.icons img {
  padding-left: 24px;
}
