* {
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 1440px;
    height: 3066px;
}

.box-1 {
    width: 445px;
    color: #36536B;
    font-family: DM Serif Display;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px;
    /* 116.667% */
    letter-spacing: -0.369px;
}

table{
    width: 600px;
}
table, td{
    border: 1px snow;
}